@charset "UTF-8";

@import "./src/sass/theme.scss";
@import "./src/sass/form.scss";

/**
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 * ······· Media Use Breakpoints
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/

@include m360 {}
@include m450 {}
@include m576 {}
@include m600 {}
@include m768 {}
@include m900 {}
@include m992 {}
@include m1200 {}
@include m1400 {}
@include m1800 {}
@include m2200 {}

/**
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 * ·······  General
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/

body,
html {
  height: 100%;
  background: #111111;
}

.wrap-content {
  min-height: calc(100vh - 273px);
}


/**
 * ::::::: Anchor
*/

[id^="anchor"] {
  position: relative;
  top: -71px;
  display: block;
  visibility: hidden;
}

/**
 * ::::::: Bold Chat
 */
.bcStatic {
  display: none;
}

.bc-minimize-container {
  opacity: 0 !important;
  pointer-events: none !important;
}

/**
 * ::::::: LinkedIn
 */

.linkedin-holder {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 41px;
  font-family: Arial, Helvetica, sans-serif;

  .linkedin-holder__button {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 10px 0 0;
    width: 100%;
    height: 41px;
    border-radius: 30px;
    background: $color_white;
    text-align: center;
    opacity: 1;
    font-size: 12px;
    letter-spacing: 1px;

    @include m768 {
    padding: 6px 0 0;
    font-size: 14px;
    width: 290px;
    }
    .ms-linkedin-sm {
      position: relative;
      top: 3px;
      margin-right: 5px;
      border-radius: 7px;
      background: $color_black;
      color: $color_white;
      font-size: 19px;
      @include m768 {
        font-size: 24px;
        }
    }
  }

  .linkedin-holder__iframe {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 290px;
    height: 41px;
    background: $color_white;
    opacity: 0.001;

    iframe {
      width: 290px !important;
      height: 41px !important;
    }
  }
}

.btn {
  display: inline-block;
  padding: 10px 20px 9px;
  outline: none;
  border-radius: 0;
  background-color: $color_blue;
  color: $color_white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $font_arial_normal;
  line-height: 1;
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &:hover {
    background-color: $color_white;
    color: $color_blue;
  }
}

.btn--pill {
  border: 1px solid $color_blue;
  border-radius: 100px;
}

/**
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 * ·······  Header Navbar
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/

/**
 * ::::::: Hidden header
*/
.wrap-header--hiden {
  height: 68px;

  @include m450 {}
  @include m576 {}
  @include m600 {}
  @include m768 {
    height: 64px;
  }
  @include m900 {}
  @include m992 {}
  @include m1200 {}
  @include m1800 {}
  @include m2200 {}
}

/**
 * ::::::: Hamburguer
 */
 .hamburger {
  float: right;
  @media (min-width: 768px) {
    display: none;
  }
}

.hamburger-box {
  // width: 50%
  transform: rotate(180deg);
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  border-radius   : 0;
  background-color: $color_black;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::after,
.hamburger.is-active .hamburger-inner::before {
  background-color: $color_black;
}

.hamburger--collapse .hamburger-inner::after {
  width: 100%;
}

/**
 * ::::::: Header and Menu
 */

 .wrap-header {
  position        : fixed;
  z-index         : 10;
  z-index         : 50;
  padding         : 10px 0 0;
  width           : 100%;
  background-color: $color_white;
  box-shadow      : 0 0 4px 2px $color_black;

  @include m450 {}
  @include m576 {}
  @include m600 {}
  @include m768 {
    padding: 15px 0;
  }
  @include m900 {}
  @include m992 {}
  @include m1200 {}
  @include m1800 {}
  @include m2200 {}

  .img-logo {
    position: relative;
    top     : 12px;
    left    : 10px;
    float   : left;
    width   : 200px;

    @include m360 {
      position: relative;
      top     : 12px;
      left    : 20px;
      float   : left;
      width   : 230px;
    }
    @include m576 {}
    @include m600 {}
    @include m768 {
      position: relative;
      top     : 4px;
      left    : 0;
      width   : 250px;
    }
    @include m900 {}
    @include m992 {}
    @include m1200 {}
    @include m1800 {}
    @include m2200 {}

    img {
      width: 100%;
    }
  }
  .no-padding-collapse {
    padding: 0px;
    @include m768 {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  .navbar-collapse {
    padding: 0px;
  }
  .motorola-menu {
    overflow   : hidden;
    width      : 100%;

    @include m450 {}
    @include m576 {}
    @include m600 {}
    @include m768 {
      float: right;
      width: auto;
    }
    @include m900 {}
    @include m992 {}
    @include m1200 {}
    @include m1800 {}
    @include m2200 {}

    .btn-header {
      position        : relative;
      cursor          : pointer;

      @include m450 {}
      @include m576 {}
      @include m600 {}
      @include m768 {
        display      : inline-block;
        margin-right : 0;
        margin-left  : 0;
        padding      : 0;
        border       : 0;
        border-radius: 0;
        background: 0;
      }
      @include m900 {}
      @include m992 {}
      @include m1200 {}
      @include m1800 {}
      @include m2200 {}

      a {
        display         : block;
        padding         : 17px;
        border-bottom   : 1px solid lighten(#1b1b1b, 10%);
        background-color: rgba(0, 0, 0, 0.9);
        color           : $color_white;
        letter-spacing  : 1.2px;
        font-size       : 12px;
        font-family     : Arial, Helvetica Neue, Helvetica, sans-serif;
        text-align      : center;
        text-transform  : uppercase;
        text-decoration : none;
        transition      : all 0.3s ease;
        width           : 100%;

        @include m450 {}
        @include m576 {}
        @include m600 {}
        @include m768 {
          display      : inline-block;
          margin-right : 0;
          margin-left  : 0;
          padding      : 10px 20px 10px;
          border       : 1px solid $color_black;
          border-radius: 40px;
          text-align   : center;
          line-height  : 1;
        }
        @include m900 {}
        @include m992 {
          padding      : 10px 30px 10px;
          width: 100%;
        }
        @include m1200 {}
        @include m1800 {}
        @include m2200 {}

        &:hover {
          border-bottom   : 1px solid $color_black;
          background-color: $color_black;
          color           : $color_white;
        }

      }
    }

    .btn-secondary {
      a {
        @include m768 {
          color: #232323;
          border: 1px solid #d3d3d3;
          background-color: $color_white;
          margin-right: 10px;

          @include m768 {
            margin-right: 0px;
          }
          @include m992 {
            margin-right: 10px;
            width: 100%;
          }

          &:hover {
            border          : 1px solid #333333;
            background-color: #333333;
            color           : $color_white;
          }
        }
      }
      &:active {
        border          : 1px solid $color_black;
        background-color: $color_white;
        color           : $color_black;
      }
      &:active a {
        color: $color_black;
      }
    }

    .btn--chat-menu {
      margin-bottom: 0;

      @include m450 {}
      @include m576 {}
      @include m600 {}
      @include m768 {
        margin-left  : 0px;
        margin-bottom: 0;
      }
      @include m900 {}
      @include m992 {}
      @include m1200 {}
      @include m1800 {}
      @include m2200 {}

      a {
        @include m768 {
          background-color: #333333;
          color           : #ffffff;
        }
      }
    }
  }
}

/**
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 * ·······  CONTENT
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/

.wrap-content {
  background-image: url(https://img04.en25.com/EloquaImages/clients/MotorolaSolutionsInc/%7B78a3e8a6-0375-4bf8-9ecd-7202af07f88e%7D_radios-bg-2.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;

  .wrap-general{
    margin: 10px;
    @include m768 {
      margin: 60px 0px;
    }
    @include m992 {
      margin: 60px auto;
      display: block;
      position: relative;
      text-align: center;
    }

    h1 {
      color: $color_white;
      font-size: 29px;
      line-height: 1.2;
      font-family: $font_univers_bold;
      text-align: left;
      margin-bottom: 20px;
      @include m768 {
        font-size: 32px;
      }
      @include m992 {
        font-size: 41px;
      }
    }

    h2 {
      color: $color_black;
      font-family: $font_univers_normal;
      font-size: 23px;
      line-height: 1.2;
      text-align: left;
      margin-bottom: 20px;
      @include m768 {
        font-size: 32px;
      }
    }

    h3 {
      color: $color_white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 19px;
      line-height: 1.2;
      border-bottom: solid 1px $color_white;
      padding-bottom: 15px;
      margin-bottom: 15px;
      text-align: left;
      @include m768 {
        font-size: 20px;
      }
      span {
        font-weight: 700;
      }
    }

    p {
      color: $color_white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      line-height: 1.2;
      padding: 5px 0px 0px 0px;
      text-align: left;
    }

    ul {
      margin-left: 0px;
      list-style: none;
      padding-left: 40px;
      li{
        text-align: left;
        p{
          display: inline-block;
          font-size: 15px;
        }
        &::before {
          content: "\2022";
          color: $color_white;
          font-weight: bold;
          display: inline-block;
          margin-left: -1em;
          vertical-align: top;
          top: 3px;
          position: relative;
        }
      }
    }

    .wrap-left {
      background-color: rgba(0, 94, 184, 0.9); // Guideline color
      padding: 22px 22px 22px 22px;
      margin: 0px 10px;
      @include m992 {
        padding: 35px 20px 40px 40px;
        margin: 0 -2px 0 0px;
        display: inline-block;
        width: 45%;
        vertical-align: top;
        height: 740px;
      }
      @include m1200 {
        height: 685px;
      }
    }

    .wrap-right {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 45px 0px 0px;
      margin: 0px 10px;
      @include m992 {
        display: inline-block;
        width: 55%;
        margin: 0 0 0 -2px;
        padding: 45px 20px 0px;
        height: 740px;
      }
      @include m1200 {
        height: 685px;
      }
      img {
        width: 70%;
        margin: 20px auto;
        display: block;
        @include m768 {
          margin: 30px auto 20px;
          width: 40%;
          display: block;
        }
        @include m992 {
          margin: 0px 0 0;
          width: 120%;
          right: 20px;
          position: relative;
        }
      }
    }
    .wrap-form-title {
      width: 80%;
      display: block;
      margin: 0 auto 20px;
      padding: 0px;
      @include m992 {
        width: 100%;
      }
      @include m1200 {
        width: 80%;
      }
      h3 {
        color: #343434;
        margin: 0px;
        border: none;
        padding: 0px;
        text-align: center;
      }
      p {
        color: #767676;
        font-size: 14px;
        text-align: center;
      }
    }

  }
}

/**
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 * ·······  Footer
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/

  .wrap-footer {
    position: relative;
    padding: 35px 20px 25px 20px;
    background-color: $color_gray_111;
    color: $color_white;

    .footer-top {
      margin: 0 0 20px;

      .footer-top__brand-icon {
        display: none;

        @include m768 {
          display: block;

          a {
            color: $color_white;
            text-decoration: none;
            font-size: 30px;
            transition: all 0.3s ease;

            &:hover {
              opacity: 0.6;
            }
          }
        }
      }

      .footer-top__brand {
        display: block;
        margin: 0 0 30px 0;
        text-align: center;

        @include m768 {
          display: none;
        }


        a {
          text-decoration: none;


          img {
            width: 240px;

            @include m450 {
              width: 280px;
            }
          }
        }
      }

      .footer-top__social {
        color: $color_dark_gray;
        text-align: center;

        @include m768 {
          text-align: right;
        }


        p {
          position: relative;
          top: -5px;
          display: block;
          color: $color_white;
          text-align: center;
          font-size: 13px;
          font-family: Arial, Helvetica, sans-serif;

          @include m768 {
            display: inline-block;
          }
        }

        a {
          position: relative;
          display: inline-block;
          color: $color_dark_gray;
          text-decoration: none;
          font-size: 27px;
          transition: all 0.3s ease;

          &:hover {
            top: -1px;
            color: $color_white;
          }
        }
      }
    }

    .footer-trademark {
      color: $color_dark_gray;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      a {
        color: $color_light_blue;
        &:hover {
          color: $color_blue;
          text-decoration: none;
        }
      }

      p {
        margin: 0 0 10px;
        padding: 0;
        font-size: 12px;
      }
    }
  }

  .wrap-footer__button-chat {
    position: fixed;
    right: 25px;
    bottom: 20%;
    display: inline-block;

    a {
      display: block;
      padding: 15px 0;
      width: 45px;
      height: 45px;
      border-radius: 50px;
      background-color: $color_blue;
      box-shadow: 0 2px 4px rgba(#000, 0.5);
      color: $color_white;
      text-align: center;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 50px;
      cursor: pointer;
      transition: all 0.3s ease;
      transition: all 0.3s ease;

      @include m768 {
        width: 50px;
        height: 50px;
        font-size: 60px;
      }


      i {
        position: absolute;
        top: -4px;
        left: -12px;

        @include m768 {
          top: -3px;
          left: -16px;
        }
      }

      &:hover {
        background-color: darken($color_blue, 10%);
        box-shadow: 0 2px 4px rgba(#000, 0.5);
      }
    }
  }

/**
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 * ·······  THANK YOU
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/
  .wrap-general__ty {
    background-color: rgba(0, 94, 184, 0.9); // Guideline color
    padding: 45px 40px 20px 40px;
    @include m768 {
      padding: 45px 0px 20px 40px;
    }
    @include m992 {
      padding: 45px 0px 20px 40px;
    }
    .paper--ty {
      position: relative;
      width   : 100%;
      @include m768 {
        width: 100%;
      }
      .paper-image--ty {
        position: relative;
        margin   : 0 auto;
        i{
          position    : absolute;
          top         : calc(50% - -35px);
          left        : calc(50% - 0px);
          font-size: 60px;
          transform: rotate(180deg);
          line-height : 40px;
          color       : $color_white;
          width       : 40px;
          height      : 40px;
          transition  : all 0.3s ease;
          @include m768 {
            top         : calc(50% - -20px);
          }
          @include m992 {
            top         : calc(50% - 8px);
          }
        }
        &:hover{
          i{
            color: $color_blue;
          }
        }
        img {
          width: 50%;
          height: auto;
          margin: 40px auto;
          display: block;
            @include m768 {
              width: 40%;
              height: auto;
              margin: 0 auto;
              padding: 20px 0px 40px;
            }
            @include m992 {
              width: 100%;
              padding: 0px 35px 35px;
            }
        }
      }
    }

  }
  a{
    text-decoration: none;
    color: $color_black;
  }
  .btn-ty {
    width: 100%;
    display: block;
    margin: 30px auto 30px;
    background:white;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    font-family: Arial;
    text-transform: uppercase;
    border: solid 1px $color_white;
    @include m768 {
      width: 40%;
      margin: 0 0 0 32%;
    }
    @include m992 {
      margin: 0 0 40px 39%;
    }

    &:hover a{
      color: $color_white;
      text-decoration: none;
      transition: all 0.3s ease;
    }
    &:hover {
      background-color: #232323;
      color: $color_white;
      border: solid 1px $color_white;
      transition: all 0.3s ease;
    }
  }
